:root {
	--bg-main: #181818;
	--bg-secondary: #3F3F3F;
	--bg-header: #202020;
	--bg-additional-blue: #107EFF;
	--text-color-primary: #ffffff;
	--additional-dark-blue: #3137c9;
	--menu-icon-active: #58585823;

	/* STEAM COLORS */
	--user-online: #57cbde;
	--user-offline: #898989;
	--user-away: #A7BACC;
	--user-busy: #E35E1C;
	--user-other: #FFC82C;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.app {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	margin: 0 auto;
	background-color: var(--bg-main);
	color: var(--text-color-primary);
}
