:root {
	--bg-main: #181818;
	--bg-secondary: #3F3F3F;
	--bg-header: #202020;
	--bg-additional-blue: #107EFF;
	--text-color-primary: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.app {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	background-color: var(--bg-main);
	color: var(--text-color-primary);
}
.content {
	margin: 0 300px;
}
